@use 'variables' as *;

// Styles
@mixin arrows-buttons {
    @include flex-center;

    height: 35px;
    width: 35px;

    border-radius: 50%;
    cursor: pointer;

    box-shadow: $box-shadow;
    @include background-image;

    img {
        width: 16px;

        @include filter-white;
    }
}
@mixin filter-white {
    filter: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(0%) hue-rotate(170deg) brightness(104%) contrast(107%);
}
@mixin filter-blue {
    filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
@mixin background-image {
    background-image: linear-gradient(90deg, $purple, $dark-purple);
}
@mixin aside-style {
    @include flex-center;
    justify-content: flex-start;
    gap: 10px;

    .aside-notice-image, .footer-notice-image {

        a {
            display: block;

            height: 110px;
            width: 110px;

            border-radius: 8px;
            overflow: hidden;

            box-shadow: $box-shadow-tertiary;

            transition: transform .2s;

            &:hover {
                transform: translateY(-2px);
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .aside-notice-info, .footer-notice-info {

        a {
            color: $dark-purple;
            
            h4 {
                font-weight: 580;
                padding-bottom: 5px;
            }
        }
        time {
            @include flex-center;
            justify-content: flex-start;
            gap: 5px;

            font-size: 0.8rem;

            img {
                width: 10px;

                filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
            }
        }
    }
}
@mixin aside-wave-effect {
    content: '';
    position: absolute;
    top: 40%;
    left: -20px;

    height: 15px;
    width: 15px;

    background-image: url(../images/icons/mini-wave.svg);
    background-repeat: no-repeat;

    filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
@mixin button-style {
    position: relative;
    @include flex-center;
    gap: 5px;
    
    border: none;
    border-radius: 8px;

    cursor: pointer;
    overflow: hidden;
    
    @include background-image;

    &:hover {
        &::after {
            bottom: -60%;
            animation-play-state: running;
        }
    }

    span {
        font-weight: 500;
        color: $white;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -100%;

        height: 100%;
        width: 300%;

        opacity: .4;

        background-image: url(../images/wave.png);
        background-size: 50% 50%;
        background-repeat: repeat-x;

        animation: wave-effect 5s linear infinite;
        animation-play-state: paused;
        transition: bottom .3s;
    }
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Media Queries
@mixin desktop {
    @media screen and (min-width: 1100px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: 770px) {
        @content;
    }
}