* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

header .header-nav {
  position: relative;
}
header .header-nav .nav-container-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
header .header-nav .nav-container-01 .menu-icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 26px;
  width: 30px;
}
header .header-nav .nav-container-01 .menu-icon-content .menu-icon {
  position: relative;
  height: 3px;
  width: 20px;
  border-radius: 3px;
  background-color: #19065E;
}
header .header-nav .nav-container-01 .menu-icon-content .menu-icon::after, header .header-nav .nav-container-01 .menu-icon-content .menu-icon::before {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 20px;
  border-radius: 3px;
  background-color: #19065E;
}
header .header-nav .nav-container-01 .menu-icon-content .menu-icon::after {
  top: -6px;
}
header .header-nav .nav-container-01 .menu-icon-content .menu-icon::before {
  top: 6px;
}
header .header-nav .nav-container-01 .menu-icon-content .menu-click {
  position: absolute;
  height: 26px;
  width: 30px;
  opacity: 0.4;
  cursor: pointer;
}
header .header-nav .nav-container-01 .menu-logo-content a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-nav .nav-container-01 .menu-logo-content a img {
  width: 60%;
  transition: transform 0.3s;
}
header .header-nav .nav-container-01 .menu-logo-content a img:hover {
  transform: translateY(-2px);
}
header .header-nav .nav-container-01 .menu-search-content a {
  display: block;
  height: 40px;
  width: 40px;
  margin-inline: 5px;
}
header .header-nav .nav-container-01 .menu-search-content a span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #6F04D9, #19065E);
}
header .header-nav .nav-container-01 .menu-search-content a span svg {
  width: 50%;
}
header .header-nav .nav-container-02 {
  position: fixed;
  top: 0;
  height: 100%;
  width: 300px;
  padding: 20px;
  overflow: auto;
  background-color: red;
}
header .header-nav .nav-container-02 .menu-logo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 15px;
}
header .header-nav .nav-container-02 .menu-logo-content a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-nav .nav-container-02 .menu-logo-content a img {
  width: 60%;
}
header .header-nav .nav-container-02 .menu-list-content ul {
  width: 100%;
}
header .header-nav .nav-container-02 .menu-list-content ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 15px 15px;
}
header .header-nav .nav-container-02 .menu-list-content ul li span {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  color: #19065E;
}
header .header-nav .nav-container-02 .menu-list-content ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
}
header .header-nav .nav-container-02 .menu-list-content ul .li-drop {
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
header .header-nav .nav-container-02 .menu-list-content ul .li-drop:hover ul {
  max-height: 87px;
  opacity: 1;
  pointer-events: initial;
}
header .header-nav .nav-container-02 .menu-list-content ul .li-drop ul {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
header .header-nav .nav-container-02 .menu-list-content ul .li-drop ul li {
  padding: 0px;
}
header .header-nav .nav-container-02 .menu-list-content ul .li-drop ul li a {
  display: block;
  width: 100%;
  padding-block: 5px;
  color: #19065E;
  transition: 0.2s;
}
header .header-nav .nav-container-02 .menu-list-content ul .li-drop ul li a:hover {
  color: #6F04D9;
}
header .header-nav .nav-container-02 .menu-login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
header .header-nav .nav-container-02 .menu-login-content button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #FFFFFF;
  background-image: linear-gradient(90deg, #6F04D9, #19065E);
}
header .header-nav .nav-container-02 .menu-login-content button span {
  font-weight: 500;
}
header .header-nav .nav-container-02 .menu-login-content button span svg {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */