* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

header {
  width: 100%;
  z-index: 999;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #F9F9F9;
}
header .header-nav {
  position: relative;
}
@media screen and (min-width: 1100px) {
  header .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-inline: auto;
  }
}
header .header-nav .nav-container-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-01 {
    padding: 20px 10px;
  }
}
header .header-nav .nav-container-01 .menu-icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 26px;
  width: 30px;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-01 .menu-icon-content {
    display: none;
  }
}
header .header-nav .nav-container-01 .menu-icon-content .menu-icon {
  position: relative;
  height: 3px;
  width: 20px;
  border-radius: 3px;
  background-color: #19065E;
}
header .header-nav .nav-container-01 .menu-icon-content .menu-icon::after, header .header-nav .nav-container-01 .menu-icon-content .menu-icon::before {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 20px;
  border-radius: 3px;
  background-color: #19065E;
}
header .header-nav .nav-container-01 .menu-icon-content .menu-icon::after {
  top: -6px;
}
header .header-nav .nav-container-01 .menu-icon-content .menu-icon::before {
  top: 6px;
}
header .header-nav .nav-container-01 .menu-icon-content .menu-click {
  position: absolute;
  height: 26px;
  width: 30px;
  opacity: 0.4;
  cursor: pointer;
}
header .header-nav .nav-container-01 .menu-logo-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}
header .header-nav .nav-container-01 .menu-logo-content a img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s;
}
header .header-nav .nav-container-01 .menu-logo-content a img:hover {
  transform: translateY(-2px);
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-01 .menu-search-content {
    display: none;
  }
}
header .header-nav .nav-container-01 .menu-search-content a {
  display: block;
  height: 40px;
  width: 40px;
  margin-inline: 5px;
}
header .header-nav .nav-container-01 .menu-search-content a span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #6F04D9, #19065E);
}
header .header-nav .nav-container-01 .menu-search-content a span svg {
  width: 50%;
}
header .header-nav .nav-container-02 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 999;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 {
    position: initial;
    pointer-events: initial;
  }
}
header .header-nav .nav-container-02 .nav-content-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 300px;
  transform: translateX(-300px);
  overflow: auto;
  padding: 20px;
  background-color: #F9F9F9;
  transition: transform 0.2s;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container {
    position: initial;
    width: initial;
    transform: translateX(0);
    overflow: initial;
    padding: 0;
  }
}
header .header-nav .nav-container-02 .nav-content-container .menu-logo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 15px;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-logo-content {
    display: none;
  }
}
header .header-nav .nav-container-02 .nav-content-container .menu-logo-content a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-nav .nav-container-02 .nav-content-container .menu-logo-content a img {
  width: 60%;
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul {
  width: 100%;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 15px;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul li {
    padding: 0;
  }
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
  color: #19065E;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul li span {
    gap: 4px;
    font-weight: 480;
  }
  header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul li span svg {
    width: 16px;
  }
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .search {
  display: none;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .search {
    display: initial;
  }
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop {
  flex-direction: column;
  align-items: flex-start;
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop:hover ul {
  max-height: 117px;
  pointer-events: initial;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop:hover ul {
    max-height: initial;
    top: 100%;
    opacity: 1;
    transition: top 0.2s;
  }
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop {
    position: relative;
    padding-block: 20px;
  }
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop span {
  cursor: pointer;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop span {
    gap: 4px;
  }
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop span svg {
    width: 0.9rem;
  }
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop ul {
  max-height: 0;
  pointer-events: none;
  overflow: hidden;
  transition: max-height 0.3s, opacity 0.2s, top 0.3s;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    align-items: flex-start;
    position: absolute;
    top: 110%;
    left: -40%;
    max-height: initial;
    opacity: 0;
    width: 240px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1176470588);
    background-color: #F9F9F9;
  }
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop ul li {
  padding: 0px;
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop ul li a {
  display: block;
  width: 100%;
  padding-block: 10px;
  color: #19065E;
  transition: color 0.2s;
}
header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop ul li a:hover {
  color: #6F04D9;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-list-content ul .li-drop ul li a {
    font-size: 0.9rem;
    padding: 10px;
  }
}
header .header-nav .nav-container-02 .nav-content-container .menu-login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 15px;
  overflow: hidden;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .nav-content-container .menu-login-content {
    display: none;
  }
}
header .header-nav .nav-container-02 .nav-content-container .menu-login-content button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  background-image: linear-gradient(90deg, #6F04D9, #19065E);
  padding: 8px 30px;
}
header .header-nav .nav-container-02 .nav-content-container .menu-login-content button:hover::after {
  bottom: -60%;
  animation-play-state: running;
}
header .header-nav .nav-container-02 .nav-content-container .menu-login-content button span {
  font-weight: 500;
  color: #F9F9F9;
}
header .header-nav .nav-container-02 .nav-content-container .menu-login-content button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 300%;
  opacity: 0.4;
  background-image: url(../images/wave.png);
  background-size: 50% 50%;
  background-repeat: repeat-x;
  animation: wave-effect 5s linear infinite;
  animation-play-state: paused;
  transition: bottom 0.3s;
}
header .header-nav .nav-container-02 .nav-content-container .menu-login-content button span svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-nav .nav-container-02 .menu-close-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  background-color: #19065E;
  transition: 0.4s;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-02 .menu-close-content {
    display: none;
  }
}
header .header-nav .nav-container-02-active {
  pointer-events: initial;
}
header .header-nav .nav-container-02-active .nav-content-container-active {
  transform: translateX(0);
}
header .header-nav .nav-container-02-active .menu-close-content-active {
  pointer-events: initial;
  opacity: 0.3;
  transition: opacity 0.4s;
}
header .header-nav .nav-container-03 {
  display: none;
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-03 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
}
@media screen and (min-width: 1100px) {
  header .header-nav .nav-container-03 .button-login-content {
    padding-top: 0;
  }
  header .header-nav .nav-container-03 .button-login-content button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    background-image: linear-gradient(90deg, #6F04D9, #19065E);
    padding: 8px 30px;
  }
  header .header-nav .nav-container-03 .button-login-content button:hover::after {
    bottom: -60%;
    animation-play-state: running;
  }
  header .header-nav .nav-container-03 .button-login-content button span {
    font-weight: 500;
    color: #F9F9F9;
  }
  header .header-nav .nav-container-03 .button-login-content button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -100%;
    height: 100%;
    width: 300%;
    opacity: 0.4;
    background-image: url(../images/wave.png);
    background-size: 50% 50%;
    background-repeat: repeat-x;
    animation: wave-effect 5s linear infinite;
    animation-play-state: paused;
    transition: bottom 0.3s;
  }
}

.header-active {
  position: fixed;
  animation: menu-fixed 0.8s;
}

main {
  position: relative;
}
main .main-container-01 {
  max-width: 1280px;
  margin-inline: auto;
}
main .main-container-01 .first-container-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 40px 20px;
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content {
    flex-direction: row;
    padding: 20px 10px 80px 10px;
  }
}
main .main-container-01 .first-container-content .first-container-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .main-container-01 .first-container-content .first-container-slider .slider-container-images {
  position: relative;
  height: 225px;
  width: 100%;
  background-color: #F9F9F9;
}
@media screen and (min-width: 770px) {
  main .main-container-01 .first-container-content .first-container-slider .slider-container-images {
    height: 400px;
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-slider .slider-container-images {
    height: 520px;
  }
}
main .main-container-01 .first-container-content .first-container-slider .slider-container-images .slider-images-content {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: fade-slider 0.8s ease-in-out;
}
main .main-container-01 .first-container-content .first-container-slider .slider-container-images .slider-images-content img {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-slider .slider-container-images .slider-images-content img {
    border-radius: 15px;
  }
}
main .main-container-01 .first-container-content .first-container-slider .slider-arrow-left, main .main-container-01 .first-container-content .first-container-slider .slider-arrow-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-image: linear-gradient(90deg, #6F04D9, #19065E);
}
main .main-container-01 .first-container-content .first-container-slider .slider-arrow-left img, main .main-container-01 .first-container-content .first-container-slider .slider-arrow-right img {
  width: 16px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(0%) hue-rotate(170deg) brightness(104%) contrast(107%);
}
main .main-container-01 .first-container-content .first-container-slider .slider-arrow-left {
  left: 10px;
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-slider .slider-arrow-left {
    left: 15px;
  }
}
main .main-container-01 .first-container-content .first-container-slider .slider-arrow-right {
  right: 10px;
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-slider .slider-arrow-right {
    right: 15px;
  }
}
main .main-container-01 .first-container-content .first-container-slider .slider-circles {
  display: none;
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-slider .slider-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: -40px;
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-slider .slider-circles .circle {
    display: block;
    height: 12px;
    width: 12px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #E6EDF6;
    transition: width 0.4s;
  }
}
main .main-container-01 .first-container-content .first-container-slider .slider-circles .circle-active {
  width: 26px;
  background-color: #6F04D9;
}
main .main-container-01 .first-container-content .first-container-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #F9F9F9;
}
@media screen and (min-width: 770px) {
  main .main-container-01 .first-container-content .first-container-titles {
    text-align: initial;
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-titles {
    max-width: 420px;
    border-radius: 0 15px 15px 0;
  }
}
main .main-container-01 .first-container-content .first-container-titles .titles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 770px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container {
    display: flex !important;
    padding-right: 15px;
  }
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-position {
  display: none;
}
@media screen and (min-width: 770px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 770px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-position .position {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 0.8rem;
    color: #F9F9F9;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-image: linear-gradient(90deg, #6F04D9, #19065E);
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-position .position {
    background-image: initial;
    background-color: #19065E;
  }
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-position .position-active {
  background-image: linear-gradient(90deg, #6F04D9, #19065E);
}
@media screen and (min-width: 770px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content {
    width: 100%;
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content {
    border-bottom: 2px solid #E6EDF6;
  }
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content a {
  color: #19065E;
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content a h2 {
  font-size: 1.3rem;
  font-weight: 600;
  padding-block: 20px 15px;
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content a h2 {
    font-size: 1.6rem;
    font-weight: 560;
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container {
    max-height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: max-height 0.8s;
  }
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container p {
  display: none;
}
@media screen and (min-width: 770px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container p {
    display: block;
    padding-bottom: 15px;
    font-size: 0.9rem;
    color: #19065E;
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container p {
    font-size: 1rem;
  }
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container .titles-person-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
@media screen and (min-width: 770px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container .titles-person-info {
    justify-content: flex-start;
  }
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container .titles-person-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #19065E;
}
@media screen and (min-width: 1100px) {
  main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container .titles-person-info a {
    font-size: 1rem;
  }
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container .titles-person-info a img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container .titles-person-info a span span {
  font-weight: 480;
  color: #6F04D9;
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container .titles-person-info .mini-wave-svg {
  width: 15px;
  filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container .titles-person-info time {
  font-size: 0.9rem;
  font-weight: 350;
  color: #19065E;
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content .titles-text-person-container-active {
  max-height: 99px;
  opacity: 1;
  pointer-events: initial;
}
main .main-container-01 .first-container-content .first-container-titles .titles-container .titles-container-content-03 {
  border-bottom: none;
}
main .main-container-02 {
  max-width: 1280px;
  margin-inline: auto;
}
main .main-container-02 .second-container-content {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "title-area title-area" "article-area article-area";
}
@media screen and (min-width: 1100px) {
  main .main-container-02 .second-container-content {
    grid-template-areas: "title-area title-area" "article-area aside-area";
  }
}
main .main-container-02 .second-container-content .second-container-title {
  grid-area: title-area;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 20px 20px;
}
@media screen and (min-width: 1100px) {
  main .main-container-02 .second-container-content .second-container-title {
    padding: 10px 10px 30px;
  }
}
main .main-container-02 .second-container-content .second-container-title img {
  width: 40px;
}
main .main-container-02 .second-container-content .second-container-title h2 {
  color: #19065E;
}
@media screen and (min-width: 1100px) {
  main .main-container-02 .second-container-content .second-container-title h2 {
    font-size: 2rem;
  }
}
main .main-container-02 .second-container-content .second-container-article {
  grid-area: article-area;
}
main .main-container-02 .second-container-content .second-container-article .article-container {
  padding: 10px 20px;
}
@media screen and (min-width: 770px) {
  main .main-container-02 .second-container-content .second-container-article .article-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    justify-items: center;
    align-items: center;
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-02 .second-container-content .second-container-article .article-container {
    padding: 10px 10px 80px;
    grid-template-columns: 310px 1fr;
  }
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-image {
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  overflow: hidden;
}
@media screen and (min-width: 770px) {
  main .main-container-02 .second-container-content .second-container-article .article-container .article-image {
    height: initial;
    aspect-ratio: 1/1;
    margin-bottom: 0;
  }
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
@media screen and (min-width: 770px) {
  main .main-container-02 .second-container-content .second-container-article .article-container .article-info {
    padding: 20px;
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-02 .second-container-content .second-container-article .article-container .article-info {
    padding: 0 25px;
  }
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  font-size: 1.4rem;
  width: 100%;
  font-weight: 560;
  color: #19065E;
}
@media screen and (min-width: 770px) {
  main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-title {
    justify-content: flex-start;
    text-align: initial;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-title {
    padding-top: 0;
    font-size: 1.8rem;
  }
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-person-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 770px) {
  main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-person-info {
    justify-content: flex-start;
    width: 100%;
    padding-block: 10px;
  }
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-person-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-person-info a img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
@media screen and (min-width: 1100px) {
  main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-person-info a img {
    height: 30px;
    width: 30px;
  }
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-person-info a span {
  font-size: 0.9rem;
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-person-info a span span {
  color: #6F04D9;
  font-weight: 480;
  transition: color 0.2s;
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-person-info a span span:hover {
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-person-info .mini-wave-svg {
  width: 15px;
  filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-person-info time {
  font-size: 0.9rem;
  font-weight: 350;
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-p-c {
  padding-block: 10px;
}
@media screen and (min-width: 770px) {
  main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-p-c {
    width: 100%;
    text-align: initial;
  }
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-p-c p {
  line-height: 25px;
  font-size: 0.9rem;
  color: #19065E;
}
@media screen and (min-width: 1100px) {
  main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-p-c p {
    font-size: 1rem;
  }
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 10px;
}
@media screen and (min-width: 1100px) {
  main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-btn {
    padding-block: 20px 5px;
  }
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-btn button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  background-image: linear-gradient(90deg, #6F04D9, #19065E);
  padding: 10px 20px;
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-btn button:hover::after {
  bottom: -60%;
  animation-play-state: running;
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-btn button span {
  font-weight: 500;
  color: #F9F9F9;
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-btn button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 300%;
  opacity: 0.4;
  background-image: url(../images/wave.png);
  background-size: 50% 50%;
  background-repeat: repeat-x;
  animation: wave-effect 5s linear infinite;
  animation-play-state: paused;
  transition: bottom 0.3s;
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-btn button span {
  font-size: 0.9rem;
  font-weight: 460;
}
main .main-container-02 .second-container-content .second-container-article .article-container .article-info .article-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-article .article-next-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 20px 60px 20px;
}
@media screen and (min-width: 1100px) {
  main .main-container-02 .second-container-content .second-container-article .article-next-prev {
    padding: 40px 0 0 0;
  }
}
main .main-container-02 .second-container-content .second-container-article .article-next-prev span {
  font-size: 0.9rem;
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-article .article-next-prev button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  background-image: linear-gradient(90deg, #6F04D9, #19065E);
  padding: 8px 20px;
}
main .main-container-02 .second-container-content .second-container-article .article-next-prev button:hover::after {
  bottom: -60%;
  animation-play-state: running;
}
main .main-container-02 .second-container-content .second-container-article .article-next-prev button span {
  font-weight: 500;
  color: #F9F9F9;
}
main .main-container-02 .second-container-content .second-container-article .article-next-prev button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 300%;
  opacity: 0.4;
  background-image: url(../images/wave.png);
  background-size: 50% 50%;
  background-repeat: repeat-x;
  animation: wave-effect 5s linear infinite;
  animation-play-state: paused;
  transition: bottom 0.3s;
}
main .main-container-02 .second-container-content .second-container-aside {
  grid-area: aside-area;
  display: none;
}
@media screen and (min-width: 1100px) {
  main .main-container-02 .second-container-content .second-container-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: initial;
    padding: 10px 10px 80px 0;
  }
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
  padding: 30px 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid #0597F2;
  background-color: #F5FDFF;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 h3 {
  position: relative;
  font-size: 1.4rem;
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 h3::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -20px;
  height: 15px;
  width: 15px;
  background-image: url(../images/icons/mini-wave.svg);
  background-repeat: no-repeat;
  filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-person {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-person .aside-person-image {
  height: 70px;
  width: 70px;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-person .aside-person-image img {
  width: 100%;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-person .aside-person-info a {
  width: 100%;
  font-weight: 500;
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-person .aside-person-info p {
  padding-top: 5px;
  font-size: 0.9rem;
  font-weight: 350;
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-description p {
  font-size: 1.1rem;
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul .aside-social-drop {
  position: relative;
  padding-top: 10px;
  cursor: pointer;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul .aside-social-drop:hover ul {
  top: -120%;
  opacity: 1;
  pointer-events: initial;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul .aside-social-drop:hover .aside-link {
  color: #6F04D9;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul .aside-social-drop .aside-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul .aside-social-drop .aside-link img {
  width: 16px;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul .aside-social-drop .aside-link span {
  padding-top: 2px;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul .aside-social-drop ul {
  position: absolute;
  top: -110%;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1176470588);
  background-color: #F9F9F9;
  transition: top 0.3s, opacity 0.2s;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul .aside-social-drop ul::after {
  content: "";
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.062745098);
  background-color: #F9F9F9;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul .aside-social-drop ul li a {
  display: block;
  padding: 10px 5px;
  font-size: 0.8rem;
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul .aside-social-drop .aside-social-drop-ul-03 {
  left: initial;
  transform: translateX(-62%);
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-01 .aside-social ul .aside-social-drop .aside-social-drop-ul-03::after {
  left: initial;
  right: 20%;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 20px;
  padding: 30px 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid #0597F2;
  background-color: #F5FDFF;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-02 h3 {
  position: relative;
  font-size: 1.4rem;
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-02 h3::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -20px;
  height: 15px;
  width: 15px;
  background-image: url(../images/icons/mini-wave.svg);
  background-repeat: no-repeat;
  filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .aside-notice-image a, main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .footer-notice-image a {
  display: block;
  height: 110px;
  width: 110px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: transform 0.2s;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .aside-notice-image a:hover, main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .footer-notice-image a:hover {
  transform: translateY(-2px);
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .aside-notice-image a img, main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .footer-notice-image a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .aside-notice-info a, main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .footer-notice-info a {
  color: #19065E;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .aside-notice-info a h4, main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .footer-notice-info a h4 {
  font-weight: 580;
  padding-bottom: 5px;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .aside-notice-info time, main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .footer-notice-info time {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 0.8rem;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .aside-notice-info time img, main .main-container-02 .second-container-content .second-container-aside .aside-section-02 .aside-content .footer-notice-info time img {
  width: 10px;
  filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-03 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 20px 30px 20px;
  border-radius: 10px;
  border: 1px solid #0597F2;
  background-color: #F5FDFF;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider .aside-mini-slider-image-container {
  position: relative;
  height: 200px;
  width: 270px;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider .aside-mini-slider-image-container .mini-slider-images-content {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: fade-slider 1s;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider .aside-mini-slider-image-container .mini-slider-images-content a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider .aside-mini-slider-image-container .mini-slider-images-content span {
  position: absolute;
  left: 0;
  bottom: -34.5px;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider .aside-mini-slider-image-container .mini-slider-images-content span a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #19065E;
  transition: 0.3s;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider .aside-mini-slider-image-container .mini-slider-images-content span a:hover {
  color: #6F04D9;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider .aside-mini-slider-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider .aside-mini-slider-control .mini-slider-arrow-left, main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider .aside-mini-slider-control .mini-slider-arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-image: linear-gradient(90deg, #6F04D9, #19065E);
}
main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider .aside-mini-slider-control .mini-slider-arrow-left img, main .main-container-02 .second-container-content .second-container-aside .aside-section-03 .aside-mini-slider .aside-mini-slider-control .mini-slider-arrow-right img {
  width: 16px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(0%) hue-rotate(170deg) brightness(104%) contrast(107%);
}
main .main-container-03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
main .main-container-03 .main-wave {
  position: absolute;
  top: 4%;
  left: 0;
  height: 258px;
  width: 600%;
  background-image: url(../images/wave-mid.png);
  background-size: 50% 258px;
  background-repeat: repeat-x;
  filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
@media screen and (min-width: 770px) {
  main .main-container-03 .main-wave {
    top: 6%;
  }
}
@media screen and (min-width: 1100px) {
  main .main-container-03 .main-wave {
    top: 8%;
  }
}
main .main-container-03 .main-wave-01 {
  opacity: 0.3;
  animation: wave-effect 6s linear infinite;
  z-index: 9;
}
main .main-container-03 .main-wave-02 {
  opacity: 0.2;
  animation: wave-effect 10s linear infinite;
  z-index: 8;
}
main .main-container-03 .main-wave-03 {
  opacity: 0.1;
  animation: wave-effect 14s linear infinite;
  z-index: 7;
}

.main-active {
  transform: translateY(100px);
}

footer {
  position: relative;
  border-top: 1px solid #E6EDF6;
  background-color: #F5FDFF;
}
@media screen and (min-width: 770px) {
  footer .footer-container-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    max-width: 1280px;
    margin-inline: auto;
    padding-block: 50px;
  }
}
@media screen and (min-width: 770px) {
  footer .footer-container-01 .footer-section-01 {
    width: 60%;
    padding-inline: 50px;
    border-right: 1px solid #E6EDF6;
  }
}
@media screen and (min-width: 1100px) {
  footer .footer-container-01 .footer-section-01 {
    width: 100%;
    max-width: 420px;
    padding-left: 20px;
  }
}
footer .footer-container-01 .footer-section-01 .footer-image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
}
@media screen and (min-width: 770px) {
  footer .footer-container-01 .footer-section-01 .footer-image-content {
    justify-content: flex-start;
  }
}
footer .footer-container-01 .footer-section-01 .footer-image-content a {
  height: 70px;
  width: 70px;
  transition: transform 0.3s;
}
footer .footer-container-01 .footer-section-01 .footer-image-content a:hover {
  transform: translateY(-3px);
}
footer .footer-container-01 .footer-section-01 .footer-image-content a img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer-container-01 .footer-section-01 .footer-text-content {
  text-align: center;
  padding-bottom: 30px;
}
@media screen and (min-width: 770px) {
  footer .footer-container-01 .footer-section-01 .footer-text-content {
    text-align: initial;
  }
}
footer .footer-container-01 .footer-section-01 .footer-text-content p {
  padding-inline: 10px;
  font-size: 0.9rem;
  color: #19065E;
}
@media screen and (min-width: 770px) {
  footer .footer-container-01 .footer-section-01 .footer-text-content p {
    padding-inline: 0;
  }
}
footer .footer-container-01 .footer-section-01 .footer-text-content p:first-child {
  padding-bottom: 20px;
}
footer .footer-container-01 .footer-section-01 .footer-text-content p a {
  color: #19065E;
  font-weight: 580;
  transition: color 0.3s;
}
footer .footer-container-01 .footer-section-01 .footer-text-content p a:hover {
  color: #6F04D9;
}
footer .footer-container-01 .footer-section-01 .footer-form-content {
  width: 100%;
  padding-bottom: 30px;
}
footer .footer-container-01 .footer-section-01 .footer-form-content form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 360px;
  margin-inline: auto;
}
footer .footer-container-01 .footer-section-01 .footer-form-content form input[type=email] {
  width: 100%;
  padding: 15px;
  outline: 0;
  border-radius: 5px;
  border: 1px solid #E6EDF6;
  color: #19065E;
}
footer .footer-container-01 .footer-section-01 .footer-form-content form input[type=submit] {
  position: absolute;
  right: 0;
  height: 100%;
  padding-inline: 20px;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
  font-weight: 580;
  color: #F9F9F9;
  background-image: linear-gradient(90deg, #6F04D9, #19065E);
}
footer .footer-container-01 .footer-section-02 {
  display: none;
}
@media screen and (min-width: 770px) {
  footer .footer-container-01 .footer-section-02 {
    display: initial;
    width: 40%;
    padding-inline: 50px;
  }
}
@media screen and (min-width: 1100px) {
  footer .footer-container-01 .footer-section-02 {
    width: 100%;
    max-width: 320px;
  }
}
footer .footer-container-01 .footer-section-02 h3 {
  position: relative;
  padding-block: 30px;
  font-size: 1.4rem;
  color: #19065E;
}
footer .footer-container-01 .footer-section-02 h3::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -20px;
  height: 15px;
  width: 15px;
  background-image: url(../images/icons/mini-wave.svg);
  background-repeat: no-repeat;
  filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
  top: 45%;
}
footer .footer-container-01 .footer-section-02 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
footer .footer-container-01 .footer-section-02 ul li {
  width: 100%;
  max-width: 240px;
  padding-block: 15px;
  border-bottom: 1px solid #E6EDF6;
}
footer .footer-container-01 .footer-section-02 ul li:first-child {
  padding-top: 0;
}
footer .footer-container-01 .footer-section-02 ul li:last-child {
  padding-bottom: 0;
  border: none;
}
footer .footer-container-01 .footer-section-02 ul li a {
  font-size: 0.9rem;
  color: #19065E;
  transition: color 0.3s;
}
footer .footer-container-01 .footer-section-02 ul li a:hover {
  color: #6F04D9;
}
footer .footer-container-01 .footer-section-03 {
  display: none;
}
@media screen and (min-width: 1100px) {
  footer .footer-container-01 .footer-section-03 {
    display: initial;
    padding-inline: 50px 20px;
    border-left: 1px solid #E6EDF6;
  }
}
footer .footer-container-01 .footer-section-03 h3 {
  position: relative;
  padding-block: 30px;
  font-size: 1.4rem;
  color: #19065E;
}
footer .footer-container-01 .footer-section-03 h3::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -20px;
  height: 15px;
  width: 15px;
  background-image: url(../images/icons/mini-wave.svg);
  background-repeat: no-repeat;
  filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
  top: 45%;
}
footer .footer-container-01 .footer-section-03 .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
footer .footer-container-01 .footer-section-03 .footer-content .aside-notice-image a, footer .footer-container-01 .footer-section-03 .footer-content .footer-notice-image a {
  display: block;
  height: 110px;
  width: 110px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: transform 0.2s;
}
footer .footer-container-01 .footer-section-03 .footer-content .aside-notice-image a:hover, footer .footer-container-01 .footer-section-03 .footer-content .footer-notice-image a:hover {
  transform: translateY(-2px);
}
footer .footer-container-01 .footer-section-03 .footer-content .aside-notice-image a img, footer .footer-container-01 .footer-section-03 .footer-content .footer-notice-image a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer-container-01 .footer-section-03 .footer-content .aside-notice-info a, footer .footer-container-01 .footer-section-03 .footer-content .footer-notice-info a {
  color: #19065E;
}
footer .footer-container-01 .footer-section-03 .footer-content .aside-notice-info a h4, footer .footer-container-01 .footer-section-03 .footer-content .footer-notice-info a h4 {
  font-weight: 580;
  padding-bottom: 5px;
}
footer .footer-container-01 .footer-section-03 .footer-content .aside-notice-info time, footer .footer-container-01 .footer-section-03 .footer-content .footer-notice-info time {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 0.8rem;
}
footer .footer-container-01 .footer-section-03 .footer-content .aside-notice-info time img, footer .footer-container-01 .footer-section-03 .footer-content .footer-notice-info time img {
  width: 10px;
  filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
footer .footer-container-01 .footer-section-03 .footer-content:last-child {
  margin-bottom: 0;
}
footer .footer-container-02 {
  padding-bottom: 90px;
  text-align: center;
}
footer .footer-container-02 p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #19065E;
}
footer .footer-container-02 p a {
  color: #19065E;
  font-weight: 580;
}
footer .footer-container-02 p span {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container-02 p span img {
  width: 15px;
  filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
footer .footer-container-03 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}
footer .footer-container-03 .footer-wave {
  position: absolute;
  bottom: -25px;
  height: 100px;
  width: 600%;
  background-image: url(../images/wave.png);
  background-size: 50% 100px;
  background-repeat: repeat-x;
  filter: invert(38%) sepia(95%) saturate(4570%) hue-rotate(221deg) brightness(100%) contrast(91%);
}
@media screen and (min-width: 1100px) {
  footer .footer-container-03 .footer-wave {
    width: 400%;
  }
}
footer .footer-container-03 .footer-wave-01 {
  opacity: 0.3;
  animation: wave-effect 6s linear infinite;
  z-index: 9;
}
footer .footer-container-03 .footer-wave-02 {
  opacity: 0.2;
  animation: wave-effect 10s linear infinite;
  z-index: 8;
}
footer .footer-container-03 .footer-wave-03 {
  opacity: 0.1;
  animation: wave-effect 14s linear infinite;
  z-index: 7;
}

.footer-active {
  transform: translateY(100px);
}

@keyframes fade-slider {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-fixed {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes wave-effect {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=style.css.map */