@use 'variables' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Rubik", sans-serif;
}
header {
    .header-nav {
        position: relative;

        .nav-container-01 {
            @include flex-center;
            justify-content: space-between;
            flex-wrap: wrap;

            padding: 20px;

            .menu-icon-content {
                @include flex-center;
                position: relative;

                height: 26px;
                width: 30px;

                .menu-icon {
                    position: relative;

                    height: 3px;
                    width: 20px;

                    border-radius: 3px;
                    background-color: $dark-purple;

                    &::after, &::before{
                        content: '';
                        position: absolute;
                        left: 0;

                        height: 3px;
                        width: 20px;

                        border-radius: 3px;
                        background-color: $dark-purple;
                    }
                    &::after{
                        top: -6px;
                    }
                    &::before{
                        top: 6px
                    }
                }
                .menu-click {
                    position: absolute;

                    height: 26px;
                    width: 30px;

                    opacity: 0.4;
                    cursor: pointer;
                }
            }
            .menu-logo-content {
                a {
                    @include flex-center;

                    img {
                        width: 60%;

                        transition: transform .3s;
                        &:hover {
                            transform: translateY(-2px)
                        }
                    }
                }
            }
            .menu-search-content {
                a {
                    display: block;

                    height: 40px;
                    width: 40px;

                    margin-inline: 5px;
                    
                    span {
                        @include flex-center;

                        height: 40px;
                        width: 40px;

                        border-radius: 50%;

                        background-image: linear-gradient(90deg, $purple, $dark-purple);

                        svg {
                            width: 50%;
                        }
                    }
                }
            }
        }

        .nav-container-02 {
            position: fixed;
            top: 0;
            //transform: translateX(-300px);

            height: 100%;
            width: 300px;

            padding: 20px;

            overflow: auto;

            background-color: red;

            .menu-logo-content {
                @include flex-center;
                padding-block: 15px;

                a {
                    @include flex-center;

                    img {
                        width: 60%;
                    }
                }
                
            }
            .menu-list-content {
                ul {
                    li {
                        @include flex-center;
                        justify-content: space-between;

                        padding: 15px 0 15px 15px;

                        &:hover {
                            
                        }

                        span {
                            font-size: $header-font-size;
                            font-weight: 500;
                            color: $dark-purple;

                            svg {
                                @include flex-center;
                            }
                        }
                        a {
                            display: block;
                            width: 100%;
                            text-decoration: none;
                        }

                    }
                    .li-drop {
                        ul {
                            position: absolute;
                        }
                    }
                }
            }
            .menu-login-content {
                @include flex-center;
                padding-top: 15px;

                button {
                    @include flex-center;
                    gap: 5px;

                    padding: 5px 30px;
                    border: none;
                    border-radius: 8px;

                    cursor: pointer;

                    color: $white;
                    background-image: linear-gradient(90deg, $purple, $dark-purple);

                    span {
                        font-weight: 500;
                        svg {
                            @include flex-center;
                        }
                    }
                }
            }
        }
        
        .nav-container-03 {

        }
    }
}